body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  color: #111;
}

/* HEADER FIJO */
header {
  position: sticky;
  top: 0;
  background: #f4f4f4;
  padding: 20px;
  z-index: 1000;
}

/* TITULOS */
.brand {
  font-size: 12px;
  letter-spacing: 3px;
  color: #999;
}

h1 {
  margin: 5px 0 15px;
}

/* BUSCADOR */
#search {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #e5e5e5;
  margin-bottom: 15px;
}

/* FILTROS */
.filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.filter {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.filter.active {
  background: black;
  color: white;
  border: none;
}

/* ITEMS */
#menu {
  padding: 20px;
}

.item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.item img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}

.item h3 {
  margin: 0;
}

.item p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}

.item span {
  font-weight: bold;
}